# PANDAS!!!

![](pandas.jpg)

# Pandas is essentially your data’s home. Through pandas, you get acquainted with your data by cleaning, transforming, and analyzing it.

## For example, say you want to explore a dataset stored in a CSV on your computer. Pandas will extract the data from that CSV into a DataFrame — a table, basically — then let you do things like:

### Calculate statistics and answer questions about the data, like

##### What's the average, median, max, or min of each column?
##### Does column A correlate with column B?
##### What does the distribution of data in column C look like?

### Clean the data by doing things like removing missing values and filtering rows or columns by some criteria
### Visualize the data with help from Matplotlib. Plot bars, lines, histograms, bubbles, and more.
### Store the cleaned, transformed data back into a CSV, other file or database

# Core components of pandas: Series and DataFrames

![](df.jpg)

### *A Series is essentially a column
### *A DataFrame is a multi-dimensional table made up of a collection of Series.

In [ ]:
dataSet1 = [1,3,5,7,9]
dataSet2 = [2,4,6,8,10]
dataset=dataSet1+dataSet2
dataset

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [ ]:
import pandas as pd
dataSet1 = [1,3,5,7,9]
dataSet2 = [2,4,6,8,10]
series1 = pd.Series(dataSet1)
series2 = pd.Series(dataSet2)
series3 = series1+series2;
#print("pandas Series1:");
print(series3);

0     3
1     7
2    11
3    15
4    19
dtype: int64

# Creating DataFrames from scratch

![](dic.jpg)

![](dfout.jpg)

### Indexing

![](Index.jpg)

![](locate.jpg)

## Most important DataFrame operations

In [ ]:
import pandas as pd
matches_df1 = pd.read_csv("matches.csv")
matches_df1

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [ ]:
import pandas as pd
matches_df2 = pd.read_csv("matches.csv", index_col="season")
matches_df2

### Viewing your data

In [ ]:
matches_df2.head()

In [ ]:
matches_df2.tail()

### Getting info about your data

In [ ]:
matches_df2.info()

In [ ]:
matches_df2.shape

In [ ]:
temp_df = matches_df2.append(matches_df2)

print(temp_df.shape)

temp_df = temp_df.drop_duplicates()

temp_df.shape

![]('df.jpg')

### Select Single Value Using loc[] vs iloc[]

In [ ]:
# Select Single Row by Index
matches_df2.iloc[[0]]

In [ ]:
# Select Row by Index Label
matches_df2.loc[2017]

In [ ]:
# Select Single Column by label
print(matches_df2.loc[:, "date"])

In [ ]:
# Select Single Column by Index
print(matches_df2.iloc[:, 3])