In [1]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [2]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [3]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [4]:
#List Slicing
L[3:5]

['MJ', 1]

In [5]:
# Use extend to add elements to list, 2 new elements added

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [6]:
# Use append to add elements to list, 1 element is added to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [7]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [8]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [9]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [10]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [11]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]
B[0]: hard rock
B[0]: banana

In [12]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [13]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

# Quiz

In [15]:
a_list= [1, "hello", [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

In [16]:
a_list[1]

'hello'

In [17]:
a_list[1:4]

['hello', [1, 2, 3], True]

In [18]:
A= [1,'a']
B= [2,1,'d']
A+B

[1, 'a', 2, 1, 'd']

# Tuples

In [19]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [20]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [21]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [22]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [23]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [24]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [25]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [26]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [27]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [29]:
# Get the length of tuple

len(tuple2)

5

In [30]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [31]:
Ratings

(0, 9, 6, 5, 10, 8, 9, 6, 2)

In [32]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [33]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [34]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [35]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [36]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [37]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

# Quiz

In [38]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [39]:
len(genres_tuple)

8

In [40]:
genres_tuple[3]

'hard rock'

In [41]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [42]:
genres_tuple[0:2]

('pop', 'rock')

In [43]:
genres_tuple[7][0]

'd'

In [44]:
C_tuple=(-5, 1, -3)
C_tupleSorted = sorted(C_tuple)
C_tupleSorted

[-5, -3, 1]

# Dictionaries

In [45]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [46]:
# Access to the value by the key

Dict["key1"]

1

In [47]:
# Access to the value by the key

Dict[(0, 1)]

6

In [48]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [49]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [50]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

In [51]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [52]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [53]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

# Quiz

In [54]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [55]:
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [56]:
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [65]:
album_sales_dict={"Back in Black":50,"The Bodyguard":50,"Thriller":65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

In [66]:
album_sales_dict["Thriller"]

65

In [67]:
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

In [68]:
album_sales_dict.values()

dict_values([50, 50, 65])

In [69]:
album_sales_dict["Rock"]= 25

In [70]:
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65, 'Rock': 25}

In [71]:
'Thriller' in album_sales_dict

True

# Sets

In [1]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [2]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [3]:
A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [4]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [5]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [6]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [7]:
# Verify if the element is in the set

"AC/DC" in A

True

In [8]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [10]:
album_set1

{'AC/DC', 'Back in Black', 'Thriller'}

In [11]:
album_set2

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon'}

In [12]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [13]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [14]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [15]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [16]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [17]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [18]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [19]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [20]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

# Quiz

In [21]:
set(['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

In [24]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))
sum(A) == sum(B)

the sum of A is: 6
the sum of B is: 3

False

In [28]:
album_set3=album_set2.union(album_set1)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [30]:
album_set1.issubset(album_set3)

True